* {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

html {
  font-size: 18px;
  color: #DAE1E7;
}

body {
  background-color: #1C3D5A;
}

h1, h2, h3 { margin: 0; }

h1 { font-size: 42px; }
h2 { font-size: 28px; }

p {
  line-height: 2;
}

strong {
  color: #fff;
}

a {
  display: inline-block;
  vertical-align: middle;
  background-color: #2779BD;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding: 2px 10px;
  margin: 0 5px;
  transform: perspective(0) translateZ(0);
}
a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #A2F5BF;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
a:hover:before, a:focus:before, a:active:before {
  left: 0;
  right: 0;
}

main > * {
  margin: 30px 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.title {
  color: #fff;
}